[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"
ipython = "*"
autopep8 = "*"

[packages]
flask = "*"
gunicorn = "*"
flask-wtf = "*"
flask-user = "*"
flask-sqlalchemy = "*"
email-validator = "*"
psycopg2 = "*"
flask-script = "*"
flask-migrate = "*"
alembic = "*"

[requires]
python_version = "3.7"
