{% macro render_form_group(field, type, required = true) -%}
<div class="grid-x grid-padding-x">
    <div class="cell">
        <label>
            {{ field.label }}
            <input type={{ type }} name={{ field.name }} id={{ field.id }} aria-errormessage="{{ field.id }}-error"
                {% if required %}required{% endif %}>
            <span class="form-error">
                {{ field.errors|map('safe')|join('<br/>') }}
            </span>
        </label>
    </div>
</div>
{%- endmacro %}
