<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A personal portfolio to merge technical skills into a single application" />

    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="stylesheet" href={{ url_for('static', filename='css/foundation.min.css') }} />

    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }} />

    <title>
        {% block title %}Data Visualization Portfolio{% endblock %}
    </title>
</head>

<body>
    <header>
        {% include 'topbar.html' %}
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {# <div class="callout {{ category }}" data-animate="fade-out" data-closable>
        <p>{{ message }}</p>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div> #}
    <div id="flash-messages" class="callout {{ category }} fade-out">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <main>
        <div class="grid-container">

            {% block content %} {% endblock content %}
        </div>
    </main>

    <script src={{ url_for('static', filename='js/jquery.js') }}></script>
    <script src={{ url_for('static', filename='js/what-input.js') }}></script>
    <script src={{ url_for('static', filename='js/foundation.min.js') }}></script>

    <script src={{ url_for('static', filename='js/script.js') }}></script>
</body>

</html>
