<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        {{ gettext("Menu") }}
    </div>
    <div class="title-bar-right">
        <a href="/">
            <img src="/img/logo-dark.svg" width="30" alt="Portfolio">
        </a>
    </div>
</div>

<div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
        <div class="hide-for-medium">
            {% if current_user.is_authenticated %}
            {{ gettext("Hello, %(name)s!", name=current_user.first_name) }}
            <br>
            <a href={{ url_for('user.logout') }}>{{ gettext("Logout") }}</a>
            {% else %}
            {% with login=url_for('user.login'), register=url_for('user.register')  %}
            {% trans %}Please <a href={{ login }}>login</a> or <a href={{ register }}>register</a>{% endtrans %}
            {% endwith %}
            {% endif %}
            <hr>
        </div>
        <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
            <li>
                <div class="logo">
                    <a href="/" class="show-for-medium">
                        <img src="/img/logo.svg" width="40" alt="Portfolio">
                    </a>
                </div>
            </li>
            {% if current_user.is_authenticated %}
            <li><a href="/simulators">{{ gettext("Simulators") }}</a>
                <ul class="vertical menu">
                    <li><a href="/simulators/game-of-life">{{ gettext("Game of life") }}</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="top-bar-right show-for-medium">
        <ul class="vertical medium-horizontal menu">
            {% if request.path not in  ['/user/register', '/user/sign-in'] %}
            {% if current_user.is_authenticated %}
            <li class="menu-text show-for-medium">{{ gettext("Hello, %(name)s!", name=current_user.first_name) }}</li>
            <li><a href={{ url_for('user.logout') }} class="button">{{ gettext("Logout") }}</a></li>
            {% else %}
            <li><a href={{ url_for('user.login') }} class="hollow button">{{ gettext("Log in") }}</a></li>
            <li><a href={{ url_for('user.register') }} class="button">{{ gettext("Register") }}</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
