<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
                <a href="/">
                    <img src="/img/logo.svg" width="40" height="40" alt="Portfolio">
                </a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            {% if request.path not in  ['/user/register', '/user/sign-in'] %}
            {% if current_user.is_authenticated %}
            <li class="menu-text">Olá, {{ current_user.first_name }}</li>
            <li><a href={{ url_for('user.logout') }} class="button">Logout</a></li>
            {% else %}
            <li><a href={{ url_for('user.login') }} class="hollow button">Login</a></li>
            <li><a href={{ url_for('user.register') }} class="button">Register</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
