div.logo>a {
    margin: 0;
    padding: 0 0.5em;
}

main {
    margin-top: 1em;
}

svg.center {
    display: block;
    margin: auto;
}

.square {
    stroke: black;
    stroke-width: 0.2;
}

.square.alive {
    fill: lightblue
}

.square.dead {
    fill: white
}

@keyframes reveal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: reveal;
    animation-timing-function: easy-in-out;
    animation-duration: 1s;

    -moz-animation-name: reveal;
    -moz-animation-timing-function: easy-in-out;
    -moz-animation-duration: 1s;

    -webkit-animation-name: reveal;
    -webkit-animation-timing-function: easy-in-out;
    -webkit-animation-duration: 1s;
}

.small-form {
    max-width: 500px;
    margin: auto;
}

.medium-form {
    max-width: 800px;
    margin: auto;
}
