div.logo>a {
    margin: 0;
    padding: 0 0.5em;
}

main {
    margin-top: 1em;
}

svg.center {
    display: block;
    margin: auto;
}

.square {
    stroke: black;
    stroke-width: 0.2;
}

.square.alive {
    fill: lightblue
}

.square.dead {
    fill: white
}

.small-form {
    max-width: 500px;
    margin: auto;
}

.medium-form {
    max-width: 800px;
    margin: auto;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .center-for-small {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
