{% extends 'base.html' %}

{% block content %}
<h1>{{ gettext("Game of life") }}</h1>
<div class="grid-x grid-margin-x">
    <div class="cell medium-4 large-6">
        <label>
            {{ gettext("Pick the desired grid size") }}:
            <input type="number" id="grid-size" min="10" max="100" value="20" oninput="updateGrid()">
        </label>
    </div>
</div>

<div class="grid-x grid-margin-x">
    <div class="cell">
        <a class="button" onclick="startRandom()">{{ gettext("Start random") }}</a>
        <a class="button" onclick="run()">{{ gettext("Run") }}</a>
    </div>
</div>

<div class="grid-x grid-margin-x">
    <div id="grid" class="cell">
    </div>
</div>

<script src={{ url_for('static', filename='js/simulators/GameOfLife.js') }}></script>

<script>
    const gridDiv = document.getElementById('grid')
    const gridSizeInput = document.getElementById('grid-size')

    function updateGrid(board = []) {
        const colorScale = d3.scaleLinear().domain([0, 1])
            .range(["white", "blue"])

        d3.select(gridDiv)
            .selectAll('*')
            .remove().enter()

        let width
        if (window.screen.availWidth > window.screen.availHeight) {
            width = 0.5 * window.screen.availHeight
        } else {
            width = window.screen.availWidth
        }

        const svg = d3.select(gridDiv)
            .append('svg')
            .attr('class', 'center')
            .attr('width', width)
            .attr('height', width)
        const gridSize = +d3.select('#grid-size').property('value')

        if (board.length === 0) {
            board = createBoard(gridSize, gridSize)
        }

        svg
            .selectAll('*')
            .remove()

        let rectSide = Math.floor(width / gridSize)

        const row = svg.selectAll(".row")
            .data(board)
            .enter().append("g")
            .attr("class", "row")

        const column = row
            .selectAll(".square")
            .data(d => d)
            .enter().append("rect")
            .attr("class", d => `square ${d.alive ? "alive" : "dead"}`)
            .attr("x", d => d.i * rectSide)
            .attr("y", d => d.j * rectSide)
            .attr("width", rectSide)
            .attr("height", rectSide)
    }

    function startRandom() {
        const gridSize = +d3.select('#grid-size').property('value')
        const board = createRandomBoard(gridSize, gridSize)
        updateGrid(board)
    }

    function run() {
        setInterval(() => {
            const data = Array.from(d3.selectAll(".square").data())
            const sizeX = Math.max(...data.map(d => d.i)) + 1
            const sizeY = Math.max(...data.map(d => d.j)) + 1
            const board = []
            while (data.length)
                board.push(data.splice(0, sizeX))
            const newBoard = evolve(board)
            updateGrid(newBoard)
        }, 500)
    }

</script>
{% endblock content %}
